@media only screen and (max-width: 768px) {
    body {
        padding: 70px 25px;
    }
    .wrapper {
        width: 100%;
        padding: 0px;
    }
    .i-am-text {
        font-size: 1.5em;
        line-height: 1.3em;
    }
    nav {
        margin: 50px 0px;
    }
    nav a {
        margin-bottom: 30px;
    }
    .projects a.project-wrapper {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        font-size: 1.5em;
        gap: 20px;
    }
    nav a {
        flex-basis: 100%;
    }

    nav a i {
        margin-right: 15px;
        font-size: 1em;
        width: 35px;
        text-align: left;
    }

    nav .visually-hidden {
        display: inline;
        position: relative;
        left: 0px;
        width: unset;
        height: unset;
        overflow: unset;
    }
}